<a href="#" ui-sref="home.showTeam({ id: team.id })"></a> 
<div class="row">
  <div class="image-size col-md-4">
      <img ng-src="{{ vm.team.logo }}" alt="{{ vm.team.name }} Logo" />
    </div>

  <div class="col-md-4">
    <h2>{{ vm.team.name | uppercase }}</h2>
    <p>{{ vm.team.location }} | {{ vm.team.sport }}</p>
  </div>

  <div class="col-md-4" >
      <h2>Today's Schedule</h2>
    <!-- <div ng-show="vm.team.sport == 'Hockey'" ng-repeat='sport in vm.sportsFeed'> -->
    <div ng-repeat='sport in vm.sportsFeed'>

      <p>{{ sport.awayTeam.Name }} at {{ sport.homeTeam.Name }}, {{ sport.location }}</p>
    </div>


  </div>
</div>



<div class="col-xs-12">
  <awards awards="vm.awards"></awards>

  <create-award></create-award>
</div>