<div class="col-md-3 well well-sm"  ng-show="vm.team.sport == 'Baseball'" >
    <p><strong>2016 Final Team Standings</strong></p>
    <div ng-repeat='mlbteam in vm.baseballFeed'>
      <p>{{ mlbteam.rank }}. <strong>{{ mlbteam.team.City }} {{ mlbteam.team.Name }}</strong><br>
        Wins: {{ mlbteam.stats.Wins['#text'] }} - Losses: {{ mlbteam.stats.Losses['#text'] }}</p>
    </div>
  </div>

    <div class="col-md-3 well well-sm"  ng-show="vm.team.sport == 'Football'" >
    <p><strong>2016-2017 Final Team Standings</strong></p>
    <div ng-repeat='nflteam in vm.footballFeed'>
      <p>{{ nflteam.rank }}. {{ nflteam.team.City }} {{ nflteam.team.Name }}<br>
        Wins: {{ nflteam.stats.Wins['#text'] }} - Losses: {{ nflteam.stats.Losses['#text'] }}</p>
    </div>
  </div>

  <div class="col-md-3 well well-sm"  ng-show="vm.team.sport == 'Hockey'" >
    <p><strong>Today's Schedule</strong></p>
    <div ng-repeat='nhlteam in vm.hockeyFeed'>
      <p><strong>{{ nhlteam.awayTeam.Name }} at {{ nhlteam.homeTeam.Name }}</strong></br>{{ nhlteam.location }}</p>
    </div>
  </div>

  <div class="col-md-3 well well-sm"  ng-show="vm.team.sport == 'Basketball' || vm.team.sport == 'Soccer'" >
    <p><strong>Today's Schedule</strong></p>
    <div ng-repeat='sport in vm.sportsFeed'>
      <p><strong>{{ sport.awayTeam.Name }} at {{ sport.homeTeam.Name }}</strong></br>{{ sport.location }}</p>
    </div>
  </div>