<div class="row">
  <div class="col-md-4">
    <input type="text" placeholder="search" ng-model="search"></input>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">

    <h2>{{vm.name}}</h2>

    <ul>
      <li ng-repeat="team in vm.teams | orderBy : 'name' | filter: search">
      
       
      <a href="#" ui-sref="home.showTeam({ id: team.id })"><strong>{{ team.name }}</strong></a>

      {{ team.location }} | {{ team.sport }}</li>

    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-10" ng-include="'teams/new.html'"></div>
</div>