/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */


body {


background-color: #34495e;      
}

h2 {
  color: #ddd; 
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 34px; 
  font-weight: 400; 
  line-height: 44px; 
  margin: 0 0 0; 
  text-transform: uppercase;
}

h3 {
  color: #ddd;
  font-weight: 100;
}

strong {
  color: white;
}

li {
  color: #ccc;
}

.well.well-sm {
  background-color: rgba(255,255,255,.15);
    border: 1px solid #555;
}

p {
  color: #ccc; 
  /*font-family: 'Open Sans Condensed', sans-serif;  */
  /*font-weight: 100;*/ 
}

.image-size {
  width: 200px;
}

.image-size img {
  width: 100%;
  height: auto;
}



