/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */


body {
background: #2c3e50; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              
}

h2 {
  color: #ddd; 
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 34px; 
  font-weight: 400; 
  line-height: 44px; 
  margin: 0 0 0; 
  text-transform: uppercase;
}

h3 {
  color: white;
  font-weight: 200;
  /*text-transform: uppercase;*/
}

strong {
  color: white;
}

li {
  color: #ccc;
}

.well.well-sm {
  background-color: rgba(255,255,255,.15);
    border: 0px solid #555;
}

p {
  color: white; 
  /*font-family: 'Open Sans Condensed', sans-serif;  */
  /*font-weight: 100;*/ 
}

.image-size {
  width: 200px;
}

.image-size img {
  width: 100%;
  height: auto;
}

.image-small {
  width: 100px;
}

.image-small img {
  width: 100%;
  height: auto;
}

.navbar-default {
    background-color: orange;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: black;
}

/*table settings*/
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
     background-color: white; 
}

table p {
  color: black;
}

table strong {
  color: black;
}

/*footer settings*/
footer p {
  color: black;
}

.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px; 
}
.container:after {
  content: "";
  display: block;
}
.site-footer, .container:after {
  height: 80px; 
}
.site-footer {
  background: orange;
}

footer p {
    color: black;
    margin-top: 20px;
    text-align: right;
}

/*ribbon*/
button {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline:none !important;
  width:100%;
}

button:active {
  outline:none;
}

button.ribbon {
  outline:none;
  outline-color: transparent;
}
button.ribbon:before, button.ribbon:after {
  top: 5px;
  z-index: -10;
}
button.ribbon:before {
  border-color: #53dab6 #53dab6 #53dab6 transparent;
  left: -25px;
  border-width: 17px;
}
button.ribbon:after {
  border-color: #53dab6 transparent #53dab6 #53dab6;
  right: -25px;
  border-width: 17px;
}

button:before, button:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline:none;
}
    
 button.btn-info:before {
  border-color: #269abc #269abc #269abc transparent;
    }
button.btn-info:after {
  border-color: #269abc transparent #269abc #269abc;
    }
